*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
@font-face {
    font-family:'Coco-Sharp';
    src: url('./Fonts/cocosharp/Coco-Sharp-Regular-trial.ttf');
}
